
<div class="grid-container">
  <table><tr><td>
<div class="row  marleft" style="margin-top:30px; ">
  <div class="col m3 s12 widthfix" style="min-height: 200px; min-width: 300px; margin-top:40px;" > 
      <div class="col m12 s12 white mat-elevation-z4" style="border-radius:2px; min-width: 200px; min-height: 200px;">
        <div class="col m4 s4 mat-elevation-z4 " style="margin-top:-10px; border-radius:10px; background: linear-gradient(60deg,#ffa726,#fb8c00)">
          <p class="center white-text" >
           <i class="fa fa-clone fa-2x"></i>
          </p>
        </div>
       <div class="col m8 s8">
          <h3 class="grey-text" style="text-align:center; margin-bottom:2px" >20</h3>
          <h4 style="text-align:center;margin-bottom:8px; margin-top: 2px">Active packages</h4>
        </div>
      </div> 
  </div></div></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <td>
  <div class="col m3 s12" style="min-height: 200px; min-width: 300px; margin-top:40px;" >   
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:2px; min-width:200px; min-height: 200px;">
      <div class="col m4 s4 mat-elevation-z4 " style="margin-top:-10px; border-radius:10px; background: linear-gradient(60deg,#66bb6a,#43a047)">
        <p class="center white-text" >
         <i class="fa fa-users fa-2x"></i>
        </p>
      </div>
      <div class="col m12 s12">
        <h3 class="grey-text" style="text-align:center; margin-bottom:2px">80</h3>
        <h4 style="text-align:center; margin-bottom:8px; margin-top: 2px">Agents </h4>
      </div>
    </div>
  </div></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <td>
  <div class="col m3 s12" style="min-height: 200px; min-width: 300px; margin-top:40px;" >   
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:2px; min-width: 200px; min-height: 200px;">
      <div class="col m4 s4 mat-elevation-z4 " style="margin-top:-10px; border-radius:10px; background: linear-gradient(60deg,#ef5350,#e53935)">
        <p class="center white-text" >
         <i class="fa fa-exclamation-circle  fa-2x"></i>
        </p>
      </div>
      <div class="col s12 m12">
        <h3 class="grey-text" style="text-align:center; margin-bottom:2px" >5</h3>
        <h4 style="text-align:center; margin-bottom:8px; margin-top: 2px">Notifications</h4>
      </div>
    </div>
  </div></td></tr>
</table>
</div> 

<div class="row marleft">
  <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; height:800; width:800;">
    <div class="col m12 s12 mat-elevation-z8" style="margin-top:-20px;border-radius:20px; background: linear-gradient(60deg,#ab47bc,#8e24aa); padding:30px;">
      <!-- <div class="col m2 s12 center">
        <button class="white-text" mat-button (click)="packages()"><b>Holiday  Packages</b><mat-icon left>packages_report</mat-icon></button>
      </div> -->
      <div class="col m12 s12 center">
        <b>Holiday  Packages</b>
        </div>

      <div class="col m12 s12" style="min-height:100px; min-width:100px; margin-top:20px;">
       <mat-toolbar class="white;" >
          <div class="col m3 s4" >
              <button class="white-text" mat-button (click)="package()"><img src="assets\images\Mysore.jpg" width="50%" height="50%"></button><br>
              <ul>
              <span class="text-align-center;">Mysore Tours(2N|3D)</span><br>
              Package cost:<span class="fa fa-rupee-sign fa-1x">5,000 onwards</span><br>
              <span class="fa fa-utensils fa-1x">Breakfast</span>&nbsp;
              <span class="fa fa-car  fa-1x">Transfer</span>&nbsp;
              <span class="fa fa-bed  fa-1x">4/5 Star</span><br>
              <!-- <span class="fa fa-image  fa-1x">Sightseeing</span> -->
            </ul>
           </div>&nbsp;&nbsp;
          <div class="col m3 s4" >
              <button class="white-text" mat-button (click)="package()"><img src="assets\images\Hospet.jpg" width="50%" height="50%" style="margin:auto;"></button><br>
              <ul>
                <span class="text-align-center">Hospet Tours(3D|2N)</span><br>
                Package cost:<span class="fa fa-rupee-sign fa-1x">6,000 onwards</span><br>
                  <span class="fa fa-utensils fa-1x">Breakfast</span>&nbsp;
                  <span class="fa fa-car  fa-1x">Transfer</span>&nbsp;
                  <span class="fa fa-bed  fa-1x">4/5 Star</span><br>
                  <span class="fa fa-image  fa-1x">Sightseeing</span>
                </ul>
          </div>&nbsp;&nbsp;
          <div class="col m3 s4" >
              <button class="white-text" mat-button (click)="package()"><img src="assets\images\photo-Taj mahal(agra).jpg" width="50%" height="50%" style="margin:auto;"></button><br>
              <ul>
               <span class="text-align-center">Agra Weekend Tour(4D|5N)</span><br>
               Package cost:<span class="fa fa-rupee-sign fa-1x">15,000 onwards</span><br>
                <span class="fa fa-utensils fa-1x;">Breakfast</span>&nbsp;
                <span class="fa fa-car  fa-1x">Transfer</span>&nbsp;
                <span class="fa fa-bed  fa-1x">4/5 Star</span><br>
                <!-- <span class="fa fa-image  fa-1x">Sightseeing</span> -->
              </ul>
        </div>&nbsp;
          <!-- <div class="col m3 s4">
              <img src="assets\images\Badami.jpg" width="90%" height="90%" style="margin:auto;"><br>
              <b >Badami(3D|2N)</b>
              <ul>
                  <span class="fa fa-utensils fa-1x">Breakfast</span>&nbsp;
                  <span class="fa fa-car  fa-1x">Transfer</span>&nbsp;
                  <span class="fa fa-bed  fa-1x">4/5 Star</span>&nbsp;
                </ul>
          </div>&nbsp;&nbsp;&nbsp; -->
          
      
      </mat-toolbar><br/><br/><br/>
      <div class="col m12 s12" style="min-height: 100px; min-width: 100px; margin-top:20px;">
      <mat-toolbar class="white;" >
          <div class="col m3 s4" >
              <button class="white-text" mat-button (click)="package()"><img src="assets\images\photo-greenary(coffi plants).jpg" width="50%" height="50%" style="margin:auto;"></button><br>
               <ul>
                  <span class="text-align-center">Kodagu Tours(4D|3N)</span><br>
                  Package cost:<span class="fa fa-rupee-sign fa-1x">8,000 onwards</span><br>
                   <span class="fa fa-utensils fa-1x">Breakfast</span>&nbsp;
                   <span class="fa fa-car  fa-1x">Transfer</span>&nbsp;
                   <span class="fa fa-bed  fa-1x">4/5 Star</span><br>
                   <!-- <span class="fa fa-image  fa-1x">Sightseeing</span> -->
                 </ul>
          </div>&nbsp;
          <div class="col m3 s4" >
              <button class="white-text" mat-button (click)="package()"><img src="assets\images\photo-India gate.jpg" width="50%" height="50%" style="margin:auto;"></button><br>
             <ul>
                <span class="text-align-center">Mumbai Tours(5D|6N)</span><br>
                Package cost:<span class="fa fa-rupee-sign fa-1x">10,000 onwards</span><br>
                 <span class= "fa fa-utensils fa-1x">Breakfast</span>&nbsp;
                 <span class="fa fa-car  fa-1x">Transfer</span>&nbsp;
                 <span class="fa fa-bed  fa-1x">4/5 Star</span><br>
                 <span class="fa fa-image  fa-1x">Sightseeing</span>

               </ul>
          </div>&nbsp;
          <div class="col m3 s4" >
              <button class="white-text" mat-button (click)="package()"> <img src="assets\images\Kerala.jpg" width="50%" height="50%" style="margin:auto;"></button><br>
              <ul>
                  <span class="text-align-center">Kerala Tours(6D|7N)</span><br>
                  Package cost:<span class="fa fa-rupee-sign fa-1x">15,000 onwards</span><br>
                   <span class="fa fa-utensils fa-1x;">Breakfast</span>&nbsp;
                   <span class="fa fa-car  fa-1x">Transfer</span>&nbsp;
                   <span class="fa fa-bed  fa-1x">4/5 Star</span>&nbsp;
                 </ul>
          </div>&nbsp;&nbsp;
          <!-- <div class="col m3 s4" >
            <img src="assets\images\beach.jpg" width="90%" height="90%" style="margin:auto;"><br>
              <b>Beach sceen(6D|5N)</b>
          </div>&nbsp;&nbsp; -->
      </mat-toolbar> 
      </div>
    </div>
  </div>
</div>
</div>















<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
